html {
  height: 100%;
  font-size: 100%;
}

body {
  font-family: 'Helvetica Neue';
  font-weight: 200;
  height: 100%;
  font-size: 100%;
}

h1,h2,h3,h4{
  font-weight: 200 !important;
}

a{
  text-decoration: none !important;
}
#page-wrapper{
	height: 100%;
}

  @media (max-width: 480px) {
    ul{
      margin-top: 55px !important;
      text-align: center;
    }
}

.header-homepage{
	height: 100%;
	text-align: center;
	background: url('/images/mac-glasses-opt.jpg');
	background-size: cover;
}


.ember-view{
	height: 100%;
}

.ember-application{
	height: 100%;
}

.vertical-center{
	position: relative;
	top:40%;
	transform: translateY(-50%);
}

.btn-wrapper{
	margin-top: 48px;
}

/*WHAT I DO*/

#services{
  text-align: center;
  background-color: #f5f5f5;
  -webkit-transition:500ms;
  -moz-transition:500ms;
  transition:500ms;
  transition-delay:1s;
  .reveal{
    display: none;
  }
  .col-sm-4{
      /*padding: 100px 0px;*/
      overflow: hidden;
      height: 350px;
  }

  .main{
    margin-top: 7em;
    position: relative;
  }
  .col-sm-4:hover{
    transition-delay: all 1s;
    background-color: #333;
    color: white;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    transition: 300ms;
    .col-title{
      display: none;
    }
    .main{
    -ms-transform: translate(0px,-4em);
    -webkit-transform: translate(0px,-4em); 
    transform: translate(0px,-4em);
      -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms; 
    
    }
    .reveal{
      display: block;
      position: relative;
      top: -3em;
    }
    
  }

  .icon-wrapper{
    margin-bottom: 30px;
    font-size: 4em;
  }

}

.animated-text{
    -webkit-animation: fadeInDown 0.5s;
    -moz-animation: fadeInDown 0.5s;
    -ms-animation: fadeInDown 0.5s;
    animation: fadeInDown 0.5s;
}

/*TOOLKIT*/

#tools{
  background: url('/images/keyboard-dark.jpg') 50% 0;
  background-size: cover;
  color: white;
  padding: 100px 0px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  @media (max-width: 1024px) {
  background-attachment: scroll;
  background-position: center !important;

   }

  i{
    font-size: 3em;
    @media (max-width: 480px) {
        font-size:2em;
    }
  }
  .row{
    margin-bottom: 75px;
  }
}

.homepage-portfolio-wrapper{  
  background-color: #fff;
  padding: 100px 50px;
  color: #333;
  @media (max-width: 992px) {
    padding: 100px 15px;
  }

  @media (min-width: 1200px){
    .container{
      width: 80%;
    }
  }


  .portfolio-title{
    font-weight: 200;
  }
  a{
    text-decoration: none;
    color: #333;
  }

  .btn-round{
    transition: all 0.3s ease-out;  
    width: 180px;
    margin-top: 50px;
    color: #34495e;
    border-color:#34495e;
    &:hover{
      background-color: #34495e;
      color:#fff;
      font-weight: 300;
    }
  @media (max-width: 600px) {
    margin-left: auto;
    margin-right: auto;
  }

  }
  .website-preview{
    margin-bottom: 100px;
    @media (max-width: 600px) {
      text-align: center;
    }
  }
  .preview-type{

  }

  .preview-image{
    /*padding-right: 0px;*/
    @media (max-width: 600px) {
      margin-top: 50px;
    }
  }
}


.single-page-header{
  padding: 50px 0px 50px 0px;
  text-align: center;
  .page-title{
    font-size: 2.3em;
    color: white;
  }
}

/*ABOUT*/
#about-header{
  background-color: #9A12B3;
  background-color: #0085A1;
  padding: 100px 0px;
}

#about-content{
  background-color: #9A12B3;
  background-color: #0085A1;
  color: white;
  padding-bottom: 100px;
  height: 100%;
}

#my-picture{
    font-size: 1em;
    text-align: center;
    i{
      font-size: 5em;
    }
}
#my-info{
  p{
    font-size: 1.3em;
    font-weight: 200;
  }
}
/*CONTACT*/

#contact-header{
  background-color: #2C3E50;
  padding: 100px 0px;
}

#contact-content{
  background-color: #2C3E50;
  height: 100%;
  color: white;
}

#submit-btn-wrapper{
  margin-top: 50px;
  text-align: center;
}

/*SINGLE PORTFOLIO*/

.portfolio-wrapper{

  padding: 100px 0px;
  background-color: #fff;
  color: #333;
  .btn-round{
    transition: all 0.3s ease-out;
    color: #fff;
    border-color: #2980b9;
    background-color: #2980b9;
    font-weight: 200;
    &.back{
      background-color: #c0392b;
      border-color: #c0392b;
      &:hover{
        transition: all 0.3s ease-out;
        color: #c0392b;
      }
    }

    &:hover{
      transition: all 0.3s ease-out;
      color:#2980b9;
      background-color: white;
    }
  }
}

.btn-round{
  font-size: 1.2em;
  color: white;
  border: 2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2.4em;
  text-align: center;
}

.portfolio-buttons{
  margin-top: 50px;
  text-align: center;
  .btn-round{
  width: 200px; 
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;

  }
}

@charset "UTF-8";
@font-face
{ 
    font-family: pictonic;
    src: url("../fonts/pictonic.eot");
    src: url("../fonts/pictonic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/pictonic.ttf") format("truetype"),
        url("../fonts/pictonic.woff") format("woff"),
        url("../fonts/pictonic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
 
.icon
{
  font-family: "pictonic";
  font-weight: normal; font-style: normal;
  -webkit-font-smoothing:  antialiased !important;
  -moz-font-smoothing:  antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; 
  font-smoothing:  antialiased !important;
  line-height:1em;
}
 
a.icon, span.icon, small.icon {
  display: -moz-inline-stack;
  display:inline-block;
  zoom: 1;
  *display: inline;
}
 
[class^="icon-"], [class*="icon-"]
{
  font-family: "pictonic";
  font-weight: normal; font-style: normal;
  -webkit-font-smoothing:  antialiased !important;
  -moz-font-smoothing:  antialiased !important;
  font-smoothing:  antialiased !important;
  line-height:1em;
}
 
a[class^="icon-"], a[class*="icon-"], span[class^="icon-"], span[class*="icon-"], small[class^="icon-"], small[class*="icon-"] {
  display: -moz-inline-stack;
  display:inline-block;
  zoom: 1;
  *display: inline;
}
  
.icon-html5-01:before { content:""; } 
.icon-css3-01:before { content:""; } 
.icon-prog-wordpress:before { content:""; } 
.icon-angularjs:before { content:""; } 
.icon-prog-php02:before { content:""; } 
.icon-prog-js01:before { content:""; } 
.icon-prog-js02:before { content:""; } 
.icon-rus-vk-01:before { content:""; }