<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Portfolio Ember</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <!-- MAIN VIEW -->
  <script type="text/x-handlebars">    
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">HERUGU</a>
             <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                  <li>{{#link-to 'home'}}Home{{/link-to}}</li>
                  <li>{{#link-to 'about'}}About{{/link-to}}</li>
                  <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
                </ul>
              </div>
        </div>
      </nav>
    <div id="page-wrapper">
    {{outlet}}
    </div>
  </script>
  
<!-- OTHER VIEWS -->

<!-- TODO: Workout how default route works, instead of home -->  
<script type="text/x-handlebars" id="home">
<section class="header-homepage">
  <div class="vertical-center">
    <h1>{{greeting}}</h1>
    <h3>{{intro}}</h3>
    <div class="btn-wrapper">
      <div class="btn btn-success" {{action 'switchJP'}}>JP</div>
      <div class="btn btn-warning" {{action 'switchEN'}}>EN</div>
    </div>
  </div>
</section>

<section id="services">
<div class="row">
        <div class="col-sm-4">
            <div class="main">   
            <div class="icon-wrapper"><i class="icon-html5-01"></i></div>
            <div class="col-title">Design</div>
            </div>
            <div class="reveal animated-text">
                Design Description Here...
            </div> 
        </div>
        <div class="col-sm-4">
            <div class="main">   
            <div class="icon-wrapper"><i class="icon-html5-01"></i></div>
            <div class="col-title">Code</div>
            </div>
            <div class="reveal animated-text">
               Code Description Here...
            </div> 
        </div>
        <div class="col-sm-4">
            <div class="main">   
            <div class="icon-wrapper"><i class="icon-html5-01"></i></div>
            <div class="col-title">Fix</div>
            </div>
            <div class="reveal animated-text">
                Fix Description Here...
            </div> 
        </div>
    </div>
</section>
<section id="tools">
    <div class="section-title">
        TOOLBOX
    </div>
    <div class="row">
    <div class="col-xs-2"><i class="icon-html5-01"></i></div>
    <div class="col-xs-2"><i class="icon-css3-01"></i></div>
    <div class="col-xs-2"><i class="icon-prog-wordpress"></i></div>
    <div class="col-xs-2"><i class="icon-prog-php02"></i></div>
    <div class="col-xs-2"><i class="icon-angularjs"></i></div>
    <div class="col-xs-2"><i class="icon-prog-js01"></i></div>
    </div>
</section>
<section id="portfolio-intro">
</section>

<section class="homepage-portfolio-wrapper">
    <div class="container">
    {{#each sites}}
    <article class="website-preview row">
        <div class="col-sm-4 preview-type">
            <h1 class="portfolio-title">{{title}}</h1>
            <h2 class="portfolio-title">{{sub}}</h2>
            {{#link-to 'portfolio' this}}
            <div class="btn-round">DETAILS</div>
            {{/link-to}}
        </div>
        <div class="col-sm-8 preview-image">
            <img {{bind-attr src=thumbnail}} class="img img-responsive"/>
        </div>
    </article>
    {{/each}}
    </div>
</section>

</script>

   
<!-- SINGLE PORTFOLIO VIEW-->
  <script type="text/x-handlebars" id="portfolio">
    <div class="portfolio-wrapper">
      <div class="container"> 
        <div class="col-sm-6">
        <h1 class="portfolio-title">{{title}}</h1>
        <h3 class="portfolio-category">{{sub}}</h3>
        <p class="portfolio-info">{{info}}</p>
        <p class="portfolio-tags">{{tags}}</p>

        </div>
        <div class="col-sm-6">
          <img {{bind-attr src=thumbnail}} class="img img-responsive"/>
        </div>
        <div class="row">
        
        </div>
        <div class="portfolio-buttons">
        <a {{bind-attr href=url}}><div class="btn-round"><i class="fa fa-external-link"></i> WEBSITE</div></a>

        <a href="#/home"><div class="btn-round back">BACK</div></a>
        </div>
      </div>
    </div>
  </script>

<!-- CONTACT VIEW -->
  <script type="text/x-handlebars" id="contact">
    <section class="single-page-header" id="contact-header">
    <div class="page-title">Contact Me</div>
    </section>
    
    <div class="page-content" id="contact-content">
    {{#each model}}
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
      <form id="mailForm">
        <div class="form-group">
        <label for="name">{{name}}</label>
        <input class="form-control input-lg" name="name">
        </div>

        <div class="form-group">
        <label for="name">{{email}}</label>
        <input class="form-control input-lg" name="email">
        </div>

        <div class="form-group">
        <label for="name">{{subject}}</label>
        <input class="form-control input-lg" name="subject">
        </div>

        <div class="form-group">
        <label for="name">{{message}}</label>
        <textarea class="form-control input-lg" rows="6" name="message"></textarea>
        </div>

        <div id="submit-btn-wrapper">
        <input type="submit" class="btn btn-success btn-lg" value="Send"> 
        </div> 
      </form>
      </div>
   </div>
    {{/each}}
    </div>
  </script>

<!-- ABOUT VIEW -->
  <script type="text/x-handlebars" id="about">
    <section class="single-page-header" id="about-header">
    <div class="page-title">About Me</div>
    </section>
    
    {{#each model}}
    <div class="page-content" id="about-content">
      <div class="container"> 
          <div class="col-md-6 animated-text" id="my-info">
            <p>{{intro}}</p>
        </div>
          <div class="col-md-6" id="my-picture">
              <i class="icon-html5-01"></i>
          <h4>{{hometownTitle}}</h4>
            {{hometown}}
          <h4>{{locationTitle}}</h4>
            {{location}}
            <p>{{education}}</p>
          </div>
      </div>
    </div>
    {{/each}}
  </script>
<!-- /OTHER VIEWS -->

<script src="js/libs/jquery-v1.11.1.js"></script>
<script src="js/libs/handlebars-v1.3.0.js"></script>
<script src="js/libs/ember-v1.6.1.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/app.js"></script>

</body>
</html>
